[submodule ".local/share/nvim/site/pack/plug/start/yagpdb.vim"]
	path = .local/share/nvim/site/pack/plug/start/yagpdb.vim
	url = git@github.com:l-zeuch/yagpdb.vim.git
[submodule ".local/share/nvim/site/pack/plug/start/vim-fugitive"]
	path = .local/share/nvim/site/pack/plug/start/vim-fugitive.git/
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".local/share/nvim/site/pack/plug/start/nordtheme.git"]
	path = .local/share/nvim/site/pack/plug/start/nordtheme
	url = git@github.com:nordtheme/vim.git
[submodule ".local/share/nvim/site/pack/plug/start/vim-fugitive.git"]
	path = .local/share/nvim/site/pack/plug/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".local/share/nvim/site/pack/plug/start/csv.vim"]
	path = .local/share/nvim/site/pack/plug/start/csv.vim
	url = git@github.com:chrisbra/csv.vim.git
[submodule ".local/share/nvim/site/pack/plug/start/which-key.nvim"]
	path = .local/share/nvim/site/pack/plug/start/which-key.nvim
	url = git@github.com:folke/which-key.nvim.git
[submodule ".local/share/nvim/site/pack/plug/start/vimtex"]
	path = .local/share/nvim/site/pack/plug/start/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule ".local/share/nvim/site/pack/plug/start/mediawiki.vim"]
	path = .local/share/nvim/site/pack/plug/start/mediawiki.vim
	url = git@github.com:chikamichi/mediawiki.vim.git
[submodule ".local/share/nvim/site/pack/plug/start/vim-go"]
	path = .local/share/nvim/site/pack/plug/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".local/share/nvim/site/pack/plug/start/vim-vsnip"]
	path = .local/share/nvim/site/pack/plug/start/vsnip
	url = git@github.com:hrsh7th/vim-vsnip.git
[submodule ".local/share/nvim/site/pack/plug/start/nvim-cmp"]
	path = .local/share/nvim/site/pack/plug/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule ".local/share/nvim/site/pack/plug/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plug/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/plug/start/cmp-nvim-lsp"]
	path = .local/share/nvim/site/pack/plug/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule ".local/share/nvim/site/pack/plug/start/friendly-snippets"]
	path = .local/share/nvim/site/pack/plug/start/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule ".local/share/nvim/site/pack/plug/start/vim-rhubarb"]
	path = .local/share/nvim/site/pack/plug/start/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule ".config/x11/nord-xresources"]
	path = .config/x11/nord-xresources
	url = https://github.com/nordtheme/xresources
[submodule ".local/share/nvim/site/pack/plug/start/vim-shellcheck"]
	path = .local/share/nvim/site/pack/plug/start/vim-shellcheck
	url = https://github.com/itspriddle/vim-shellcheck
